openai
streamlit
python-dotenv
fastapi 
uvicorn
pydantic
psycopg2-binary
langchain-community
langchain-openai
langchain-chroma
langchain
langchain-core
chromadb
pypdf
cryptography==41.0.2
python-multipart
azure-core==1.32.0
azure-storage-blob==12.24.0
azure-identity==1.19.0
azure-keyvault-secrets==4.9.0
