azure-functions
openai
psycopg2-binary
langchain-community
langchain-openai
langchain-chroma
langchain
langchain-core
chromadb-client
azure-storage-blob
azure-cosmos
azure-identity
azure-keyvault-secrets
pypdf
cryptography==41.0.2
