fastapi==0.115.9
uvicorn==0.34.2
python-dotenv==1.1.0
psycopg2-binary==2.9.10
langchain-community==0.3.24
langchain-openai==0.3.17
langchain-chroma==0.2.4
langchain==0.3.25
langchain-core==0.3.60
chromadb-client==1.0.9
azure-storage-blob==12.25.1
azure-cosmos==4.9.0
azure-identity==1.23.0
azure-keyvault-secrets==4.9.0
pypdf==5.5.0
python-multipart==0.0.20
cryptography==45.0.2
